body {
  background-color: tomato;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50vh;
}

input {
  width: 500px;
  border: 0;
  padding: 20px;
  font-size: 1.5em;
}

.char {
  display: inline;
  cursor: pointer;
}